$color-red: red;
$color-gold: gold;

.marker {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.red {
	background: $color-red;
}
.orange {
	background: orange;
}
.yellow {
	background: yellow;
}
.black{
    background: black;
}
.green {
    background: green;
}
.blue {
    background: blue;
}
.purple {
	background: purple;
}
.gold {
    background: $color-gold;
}